

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        background-color: navy;
        color: white;
    }

    /* TOP HEADER */
    
    h1{
        text-align: center;
        font-family: "Rubik Vinyl", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 4em;
        /* color: #ceb005; */
    }

 
    .topContainer{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #topHeader{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;

    }

    #logo{
        width: 100%;
        filter: drop-shadow(10px 10px 10px white);
        display: none;
        position: relative;
        top: -50px;
    }

    #letsTrack{
         position: relative;
         background-color: rgb(244, 211, 27);
         color: black;
         height: 67px;
         width: 60%;
         font-weight: bolder;
         border-radius: 5%;
         /* filter: drop-shadow(5px 3px 5px gold); */
         font-size: 6vw;
         display: none;
         font-family: "Rubik Vinyl", serif;
         font-weight: 400;
         font-style: normal;
    }


    /* FORM */

    #CustomerDetails{
        display: none;
    }

    .CustomerDetails{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
        position: relative;
        color: white;
        top: 6em;
        padding-bottom: 5px;
        font-size:5vw;
        border: 1px solid white;
        border-radius: 5%;
        border-top: none;
        background-color: navy;
    }
    

    textarea{
        background-color: lightcyan;
    }

    input{
        width: 40%;
        height: 20px;
        background-color: lightblue;
        margin: 5px;
        border: 2px solid gold;
        border-top: none;
    }

    input, #Date{
        text-align: center;
        color: black;
    }

    input::placeholder{
        color: black;
        font-weight: 500;
        text-align: center;
    }


    #sbBtn{
        width: 40%;
        height:40px;
        border: 2px solid white;
        border-radius: 5%;
        border-bottom: none;
        background-color: navy;
        border-bottom: none;
        color: white;
        font-size: 1.4em;
        font-family:'Times New Roman', Times, serif;
        letter-spacing: 2px;
        position: relative;
        right: 0;
        display: block;
    }

    button{
     display: none;
    }

    select{
        width: 41%;
    }

    span{
        font-size: 4.4vw;
        background-color: red;
        border: 1px solid yellow;
        display: none;
    }

    #Items, #Requests
    {display: none;}

    .fa-octagon-plus{
        color: rgb(6, 186, 24);
        border-radius: 100%;
    }


    /* LOG SHEETS */
  
    #logExcelSheetG{
        display: none;
    }
    .excelLog{
        width: 90%;
        position: absolute;
        top: 0;
        left: 5%;
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        background-color: navy; 
        border: 1px solid white;
        border-bottom: none;
        border-radius: 5%;
    }
    #contOne{
        font-size: 2.3em;
        padding: 20px;
    }

    .fa-file-spreadsheet{
        color: white;
        filter: drop-shadow(1px 1px 0px black);
        top: 8px;
        font-size: 14vw;
    }

    .fa-file-invoice{
        color: white;
        filter: drop-shadow(2px 2px 0px black);
        top: 8px;
        font-size: 13vw;
    }

    .fa-file-invoice-dollar{
        color: white;
        filter: drop-shadow(2px 2px 0px black);
        top: 8px;
        font-size: 13vw;
    }

    


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        display: none;
        background-color: red;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        display: none;
    }
}