

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        background-color: navy;
        color: white;
    }

    /* TOP HEADER */
    
    h1{
        text-align: center;
        font-family: "Rubik Vinyl", serif;
        font-weight: 400;
        font-style: normal;

    }

 
    .topContainer{
        display: none;
        background-image: linear-gradient(navy, black);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #topHeader{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    #logo{
        width: 100%;
        filter: drop-shadow(10px 10px 10px white);
        display: none;
        position: relative;
        top: 55px;
    }

    #letsTrack{
         position: relative;
         background-color: black;
         color: white;
         top: 5em;
         height: 67px;
         width: 60%;
         font-weight: bolder;
         border-radius: 5%;
         /* filter: drop-shadow(5px 5px 10px white); */
         font-size: 1.5em;
         display: none;
         font-family: "Rubik Vinyl", serif;
         font-weight: 400;
         font-style: normal;
    }


    /* FORM */

    #CustomerDetails{
        display: none;
    }

    .CustomerDetails{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
        position: relative;
        color: white;
        top: 1em;
        font-size:5vw;
       
    }
    

    textarea{
        background-color: lightcyan;
    }

    input{
        width: 40%;
        height: 20px;
        background-color: lightblue;
    }

    #sbBtn{
        width: 40%;
        height:40px;
        border: 1px solid white;
        border-radius: 5%;
        background-color: green;
        color: white;
        font-size: 1.4em;
        font-family:monospace;
        position: relative;
        right: 0;
        display: block;
    }

    button{
     display: none;
    }

    select{
        width: 41%;
    }

    span{
        font-size: 4.4vw;
        background-color: red;
        border: 1px solid yellow;
        display: none;
    }


    /* LOG SHEETS */
  
    #logExcelSheetG{
        display: none;
    }
    .excelLog{
        width: 15%;
        height:9%;
        position: absolute;
        top: 25em;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        border-radius: 5%;
    }
    #contOne{
        font-size: 2.3em;
        padding: 20px;
    }

    .fa-file-spreadsheet{
        color:rgb(12, 155, 12);
        top: 8px;
        font-size: 14vw;
    }

    .fa-file-invoice{
        color: white;
        top: 8px;
        font-size: 13.5vw;
    }



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        display: none;
        background-color: red;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        display: none;
    }
}